<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/style.css">
<link rel="stylesheet"  type="text/css"  href="/PhysicalDevelopment/resouces/css/account/register/account_register.css">
<title>会員登録</title>
</head>
<body>

	<header class="header">
			<h1 class="h1">
				<a class="header-contents-a" href="/PhysicalDevelopment/">
					<img class="header-logo" src="/PhysicalDevelopment/resouces/photo/身体開発.JPG">
				</a>
			</h1>
		<div class="header-nav-link">
			<p class="header-nav-link-text nav-link nomal-font"><a href="/PhysicalDevelopment/login" class="nav-link-text-normal">ログイン</a></p>
		</div>
	</header>

	<div class="main-contents">
		<h2 class="account-register-h2">会員登録</h2>

		<div class="error-message" id="messages">
		</div>

<script>
var defaultMessages = "", fields = "";
	#foreach($error in $errors)
		defaultMessages += "<p>" + "※" + "$error.defaultMessage" + "</p>";
	#end
	document.getElementById("messages").innerHTML = defaultMessages;
</script>

		<form class="member-register-form" action="/PhysicalDevelopment/newMemberRegister" method="post">
			<table class="member-register-table">
		        <tr class="member-register-table-line">
		          <td class="member-register-table-data-title">性別</td>
		          <td class="member-register-table-data-content">
		            <select name="stringSex" class="member-register-table-data-input-select">
		              <option value="MAN">男性</option>
		              <option value="WOMAN">女性</option>
		            </select>
		          </td>
		        </tr>
		        <tr class="member-register-table-line">
		          <td class="member-register-table-data-title">生年月日</td>
		          <td class="member-register-table-data-content">
		            <select name="birthday.year" id="id_year" class="member-register-table-data-input-select">
		            </select>年
		            <select name="birthday.month" id="id_month" class="member-register-table-data-input-select">
		            </select>月
		            <select name="birthday.day" id="id_day" class="member-register-table-data-input-select">
		            </select>日
		          </td>
		        </tr>
				<tr class="member-register-table-line">
					<td class="member-register-table-data-title">ID</td>
					<td class="member-register-table-data-content">
						<input type="text" id="login_id" name="authentication.loginId.loginId" class="member-register-table-input-text">
					</td>
				</tr>
				<tr class="member-register-table-line">
					<td class="member-register-table-data-title">パスワード</td>
					<td class="member-register-table-data-content">
						<input type="password" id="password" name="authentication.password.password" class="member-register-table-input-text">
					</td>
				</tr>
			</table>
					<div class="buttom-wrap">
<!--				<tr class="member-register-table-line member-register-table-button"> -->
<!--					<td class="member-register-table-data-title"> -->
						<button class="member-register-back-button" type="button" onclick="history.back()">戻る</button>
<!--					</td>-->
<!--					<td class="member-register-table-data-content member-register-table-data-button"> -->
						<button class="member-register-button">会員登録</button>
<!--					</td> -->
<!--				</tr> -->
					</div>

		</form>
	</div>
 <script>
(function() {
  'use strict';

  /*
    今日の日付データを変数todayに格納
   */
  var optionLoop, this_day, this_month, this_year, today;
  today = new Date();
  this_year = today.getFullYear();
  this_month = today.getMonth() + 1;
  this_day = today.getDate();

  /*
    ループ処理（スタート数字、終了数字、表示id名、デフォルト数字）
   */
  optionLoop = function(start, end, id, this_day) {
    var i, opt;

    opt = null;
    for (i = start; i <= end ; i++) {
      if (i === this_day) {
        opt += "<option value='" + i + "' selected>" + i + "</option>";
      } else {
        opt += "<option value='" + i + "'>" + i + "</option>";
      }
    }
    return document.getElementById(id).innerHTML = opt;
  };

  /*
    関数設定（スタート数字[必須]、終了数字[必須]、表示id名[省略可能]、デフォルト数字[省略可能]）
   */
  optionLoop(1950, this_year, 'id_year', this_year);
  optionLoop(1, 12, 'id_month', this_month);
  optionLoop(1, 31, 'id_day', this_day);
})();
</script>
</body>
</html>