<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="physicaldevelopment.datasource.mapper.dailynutrition.DailyNutritionMapper">

	<select id="selectNextDailyNutrientAmountId" resultType="Integer">
		SELECT nextval('nutrition.daily_nutrient_amount_daily_nutrient_amount_id_SEQ')
	</select>

	<select id="insertDailyNutrition">
		INSERT INTO
			nutrition.daily_nutrient_amount
		(
			daily_nutrient_amount_id,
			account_id,
			year_month_day,
			created_at,
			updated_at
		) VALUES (
			#{dailyNutrientAmountId.dailyNutrientAmountId},
			#{accountId.accountId},
			#{date},
			now(),
			now()
		)
	</select>

	<select id="insertEvaluation">
		INSERT INTO
			nutrition.evaluation
		(
			daily_nutrient_amount_id,
			score,
			energy_high_and_low,
			not_subject_to_evaluation,
			created_at,
			updated_at
		) VALUES (
			#{dailyNutrientAmountId.dailyNutrientAmountId},
			0,
			0,
			false,
			now(),
			now()
		)
	</select>

	<resultMap id="dailyNutrientAmountId" type="physicaldevelopment.model.dailynutrition.DailyNutrientAmountId">
		<result property="dailyNutrientAmountId" column="daily_nutrient_amount_id" />
	</resultMap>

	<select id="selectDailyNutrientAmountId" resultMap="dailyNutrientAmountId">
		SELECT
			daily_nutrient_amount_id
		FROM
			nutrition.daily_nutrient_amount
		WHERE
			year_month_day = #{date}
		AND
			account_id = #{accountId.accountId}
	</select>

	<resultMap id="totalNutrientAmountPerDay" type="physicaldevelopment.model.nutrition.NutrientAmount">
		<result property="nutrientAmount" column="nutrient_amount" />
	</resultMap>

	<select id="selectEnergyTotalNutrientAmountPerDay" resultMap="totalNutrientAmountPerDay">
		SELECT
			nutrition_type,
			sum(nutrition_amount) as nutrient_amount
		FROM
			nutrition.manual_entry_of_nutrients as manual_nutrients
		JOIN
			nutrition.meal as meal
		ON
			manual_nutrients.meal_id = meal.meal_id
		WHERE
			nutrition_type = 'ENERGY'
		AND
			daily_nutrient_amount_id = #{dailyNutrientAmountId.dailyNutrientAmountId}
		GROUP BY
			nutrition_type
	</select>
	<select id="selectProteinTotalNutrientAmountPerDay" resultMap="totalNutrientAmountPerDay">
		SELECT
			nutrition_type,
			sum(nutrition_amount) as nutrient_amount
		FROM
			nutrition.manual_entry_of_nutrients as manual_nutrients
		JOIN
			nutrition.meal as meal
		ON
			manual_nutrients.meal_id = meal.meal_id
		WHERE
			nutrition_type = 'PROTEIN'
		AND
			daily_nutrient_amount_id = #{dailyNutrientAmountId.dailyNutrientAmountId}
		GROUP BY
			nutrition_type
	</select>
	<select id="selectLipidTotalNutrientAmountPerDay" resultMap="totalNutrientAmountPerDay">
		SELECT
			nutrition_type,
			sum(nutrition_amount) as nutrient_amount
		FROM
			nutrition.manual_entry_of_nutrients as manual_nutrients
		JOIN
			nutrition.meal as meal
		ON
			manual_nutrients.meal_id = meal.meal_id
		WHERE
			nutrition_type = 'LIPID'
		AND
			daily_nutrient_amount_id = #{dailyNutrientAmountId.dailyNutrientAmountId}
		GROUP BY
			nutrition_type
	</select>
	<select id="selectCarbohydrateTotalNutrientAmountPerDay" resultMap="totalNutrientAmountPerDay">
		SELECT
			nutrition_type,
			sum(nutrition_amount) as nutrient_amount
		FROM
			nutrition.manual_entry_of_nutrients as manual_nutrients
		JOIN
			nutrition.meal as meal
		ON
			manual_nutrients.meal_id = meal.meal_id
		WHERE
			nutrition_type = 'CARBOHYDRATE'
		AND
			daily_nutrient_amount_id = #{dailyNutrientAmountId.dailyNutrientAmountId}
		GROUP BY
			nutrition_type
	</select>

	<resultMap id="notSubjectToEvaluation" type="physicaldevelopment.model.evaluation.NotSubjectToEvaluation">
		<result property="notSubjectToEvaluation" column="not_subject_to_evaluation" />
	</resultMap>

	<select id="selectNotSubjectToEvaluation" resultMap="notSubjectToEvaluation">
		SELECT
			not_subject_to_evaluation
		FROM
			nutrition.evaluation
		WHERE
			daily_nutrient_amount_id = #{dailyNutrientAmountId.dailyNutrientAmountId}
	</select>

</mapper>