@CHARSET "UTF-8";

table {
	border-collapse: separate;
	border-spacing: 10px;
	column-rule: solid 6px;
}

.daily-information {
	display: flex;
}

.evaluation-score-paragraph {
	vertical-align: middle;
	height: 130px;
	padding: 0 0 0 100px;
}

.daily-nutrition-title-wrap {
	display: flex;
	width: auto;
	justify-content: space-between;
}

.daily-links {
	display: flex;
/*	float: right;*/
	margin: 10px;
}

.daily-nutrition-link {
	color: blue;
	padding: 10px;
}

.daily-information {
/*	display: flex;*/
	width: auto;
/*	justify-content: space-between;*/
}

.daily-nutrition-information-wrap {
	margin: auto;
}

.evaluation-score-paragraph {
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
}

.evaluation-score-content {
	color: #ff188a;
}

.page-title {
	width: 600px;
	font-size: 40px;
	margin: 20px;
/*	float: left;*/
}

.daily-nutrition-table {
	font-size: 20px;
	margin-right: 420px;
}

.daily-nutrition-table-data-title {
	font-weight: bold;
}

.daily-nutrition-graph {
	height: 300px;
	width: 900px;
	margin: auto;
}