<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://localhost:5432/physical_development" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="physicaldevelopment/mapper/account/AccountMapper.xml" />
		<mapper resource="physicaldevelopment/mapper/account/register/AccountRegisterMapper.xml" />
		<mapper resource="physicaldevelopment/mapper/meal/register/MealRegisterMapper.xml" />
		<mapper resource="physicaldevelopment/mapper/targetnutrition/TargetNutritionMapper.xml" />
		<mapper resource="physicaldevelopment/mapper/dailynutrition/DailyNutritionMapper.xml" />
		<mapper resource="physicaldevelopment/mapper/evaluation/EvaluationMapper.xml" />
	</mappers>
</configuration>