@CHARSET "UTF-8";

.target-nutrition-table-data-title {
	font-weight: bold;
	font-size: 18px;
/*	padding-right: 250px;*/
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.target-nutrition-table {
	width: 1040px;
}

.target-nutrition-table-data-button {
	text-align: right;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 50px;
	margin-right: 100px;
/*	cursor: pointer;*/
}

.target-nutrition-input-text {
	box-shadow: none;
	border-radius: 10px;
	padding: 8px 35px;
}

