	<header class="header">
			<h1 class="h1">
				<a class="header-contents-a" href="/">
					<img class="header-logo" src="/resouces/photo/身体開発.JPG">
				</a>
			</h1>
		<div class="header-nav-link">
			<p class="header-nav-link-text"><a href="/nutritionRegister" class="">食事登録</a></p>
			<p class="header-nav-link-text"><a href="/targetNutrition" class="">目標設定</a></p>
			<p class="header-nav-link-text"><a href="/" class="">1カ月の評価</a></p>
			<p class="header-nav-link-text nav-link nomal-font"><a href="/auth/logout" class="nav-link-text-normal">ログアウト</a></p>
		</div>
	</header>
